.customers-title {
  padding-bottom: 34px;
}

.customers-line {
  border-bottom: 2px solid #e72424 !important;
  max-width: 64px;
}

.column {
  justify-content: space-around;
  padding: 0px 15px;
}

.review-customers {
  width: 300px;
  background-color: #e2e2e2;
  border-radius: 10px;
  padding: 10px 20px;
}

.table {
  display: flex;
  justify-content: space-around;
  padding: 0px 15px;
}

.description-customers {
  padding-bottom: 67px !important;
}

.psevdorect::after {
  content: "";
  width: 0px;
  height: 0px;
  display: flex;
  margin-left: 30px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 12px solid #e2e2e2;
}

.ava {
  display: flex;
  width: 300px;
  justify-content: space-around;
}

.customers-ava {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.customerssay {
  padding: 50px 0px;
}
