.menu {
  display: flex;
}
.menu-item {
  margin: auto;
  font-family: "Open Sans", normal;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.nav {
  width: 400px;
}
