* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

.container {
  position: relative;
  margin: auto;
  max-width: 1170px;
  padding: 0px 15px;
  z-index: 1;
}

p {
  font-family: "Raleway", normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #86878b;
}

h2 {
  text-align: center;
  font-family: "Raleway", normal;
  font-weight: 400;
  font-size: 36px;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
}

a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  color: white;
}

.download {
  display: block;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  width: 135px;
  text-align: center;
  padding: 11px 26px;
  transition: all 0.5s;
  cursor: pointer;
}

.li {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: white;
}
