@import url(../css/awesome.css);

*
{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}


p{
    font-family: 'Raleway', regular;
    font-size: 14px;
    text-align: center;
    }

h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;  
    text-align: center;
}   